* {
  font-family: "Varela Round", sans-serif;
}
body {
  margin: 0;
  margin: auto;
  margin-top: 2rem;
  background-color: #f7f8fc;
}
.music-player {
  width: 25rem;
  margin: auto;
  background-color: #fff;
  box-shadow: 0rem 0rem 5rem rgb(202, 223, 230);
  color: #949494;
}
.menu {
  font-size: 1.5rem;
}
.add-to-playlist {
  font-size: 1.5rem;
}
.status {
  margin-top: auto;
  font-size: 0.75rem;
  color: #b2b2b2;
}
nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.song {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2rem solid #c5c4c4;
  border-radius: 0.2rem;
  color: rgb(28, 26, 26);
  margin-bottom: 0;
  margin-top: 0;
}
.title {
  font-size: 1.2rem;
}
.composer {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.song-thumbnail {
  object-fit: contain;
  width: 80%;
  margin-bottom: 3rem;
  box-shadow: 0rem 0rem 1rem grey;
}
h2 {
  margin: 0;
}
.seek {
  font-size: 0.75rem;
  margin: 1.5rem;
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.options {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
  color: #b2b2b2;
}
.play {
  font-size: 3rem;
  color: #949494;
}
.songs-list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.song-list-item {
  display: flex;
  justify-content: space-between;
}
.song-list-item {
  color: gray;
  margin: 1rem;
}
.playing-song::before {
  content: "•";
  color: rgb(0, 200, 255);
  font-size: 1.2rem;
  padding-left: -0.1rem;
}
.playing-now {
  color: rgb(28, 26, 26);
  font-weight: bolder;
}
ul {
  padding: 0;
  margin: 0;
  padding-bottom: 2rem;
}
li {
  margin: 0;
}
